@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.loginBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #DBE8E1;
    overflow: hidden;
}
.loginBackground li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 4px;
    border-radius: 0.5px;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 7s ease-in forwards infinite;
}

.loginBackground li:nth-child(0) {
    animation-delay: 0s;
    left: 57vw;
    top: 88vh;
}

.loginBackground li:nth-child(1) {
    animation-delay: 2s;
    left: 0vw;
    top: 0vh;
}

.loginBackground li:nth-child(2) {
    animation-delay: 4s;
    left: 84vw;
    top: 22vh;
}

.loginBackground li:nth-child(3) {
    animation-delay: 6s;
    left: 44vw;
    top: 79vh;
}

.loginBackground li:nth-child(4) {
    animation-delay: 8s;
    left: 22vw;
    top: 61vh;
}

.loginBackground li:nth-child(5) {
    animation-delay: 10s;
    left: 73vw;
    top: 97vh;
}

.loginBackground li:nth-child(6) {
    animation-delay: 12s;
    left: 49vw;
    top: 17vh;
}

.loginBackground li:nth-child(7) {
    animation-delay: 14s;
    left: 98vw;
    top: 35vh;
}

.loginBackground li:nth-child(8) {
    animation-delay: 16s;
    left: 31vw;
    top: 42vh;
}

.loginBackground li:nth-child(9) {
    animation-delay: 18s;
    left: 16vw;
    top: 53vh;
}

.loginBackground li:nth-child(10) {
    animation-delay: 20s;
    left: 66vw;
    top: 71vh;
}