.sortButton {
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  border: none !important;
  cursor: pointer !important;
  overflow: hidden !important;
  outline: none !important;
  padding: 0px !important;
}

.sortButton:hover{
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  border: none !important;
  cursor: pointer !important;
  overflow: hidden !important;
  outline: none !important;
  padding: 0px !important;
}

.searchButton {
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  border: none !important;
  cursor: pointer !important;
  overflow: hidden !important;
  outline: none !important;
  padding: 0px !important;
}

.searchButton:hover{
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  border: none !important;
  cursor: pointer !important;
  overflow: hidden !important;
  outline: none !important;
  padding: 0px !important;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background.recruiter{
  background: linear-gradient(48deg,#25151a,#e10032,#034687);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
}

.background.student{
  background: linear-gradient(48deg,#151b25,#034687,#e10032);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}